.container {
  min-height: 95vh;
  background-color: #242333;
}

.containerShowPage {
  background-color: #242333;
  padding: 0 2rem;
  min-height: 95vh;


}
.main {

  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.footer a {
  min-height: 5vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #57B282;
  text-decoration: none;

}

.header {
  font-size: 3em;
  color: #57B282;
  align-items: center;
  display: flex;
  text-decoration: none;
  column-gap: 50px;
  
}

.graphSite{
  min-height: 20vh;
  display: flex;
  align-items: center;
  column-gap: 10px;
  
}
.bioContainer{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  column-gap: 10px;
}

.sectionHeader{
  font-size: 34px;

}
.showHeader{
  display:flex;
  align-items: center;
}

.returnButton{
  position:absolute;
}
.returnButton:hover,
.returnButton:focus{
  cursor: pointer;
  color: #57B282;
  border-color: #57B282;
  transition: color 0.15s ease, border-color 0.15s ease;
}
.signedOnButtons{
  display: flex;
  flex-direction: column;
  position: absolute;
  right:0;
}
.signOnButton{
  position: absolute;
  right:0;
  margin-left:10px
}

.profileButton{
  right:0;
  margin-left:10px
}
.profileButton:hover,
.profileButton:focus{
  cursor: pointer;
  color: #57B282;
  border-color: #57B282;
  transition: color 0.15s ease, border-color 0.15s ease;
}
.signOnButton:hover,
.signOnButton:focus{
  cursor: pointer;
  color: #57B282;
  border-color: #57B282;
  transition: color 0.15s ease, border-color 0.15s ease;
  
}


.loginBox{
  display:flex;
  flex-direction: column;
  gap: 10px;

}
.title {
  
  text-align: center;
  align-items: center;
  margin: auto;
  line-height: 1.0;
  font-size: 4rem;
}



.tableResults {
  display: flex;
  margin-top: 1vh;
  flex: 1;
  padding: 1rem 0;
  border: 1px solid #eaeaea;
}
.userShowsTable{
  border-spacing:0; /* Removes the cell spacing via CSS */ 
  border-collapse: collapse;
}
.resultCellImg{
  padding-left: 5px;
  background-color: #222;
}
.resultCellName{
  width:200px;
  background-color: #222;

  text-align: center;
  background-color: #222;

}
.likesCell{
  width:50px;
  background-color: #222;
}

.addtoLibrary{
  text-align: center;
  font-size: 20px;
}
.addtoLibrary:hover,
.addtoLibrary:focus,
.addtoLibrary:active {
  cursor: pointer;
  color: #57B282;
  border-color: #57B282;
  background-color: #222;
  transition: color 0.15s ease, border-color 0.15s ease;
}


.showListContainer{
  margin: 10vh;
  width: 150vh;
  column-gap: 10px;
  height: 600px;
  display: flex;
  overflow-x: scroll;
}
.showButton:hover,
.showButton:focus,
.showButton:active {
  cursor: pointer;
  color: #57B282;
  border-color: #57B282;
  background-color: #222;
  transition: color 0.15s ease, border-color 0.15s ease;

}
.resultCellName:hover,
.resultCellName:focus,
.resultCellName:active {
  cursor: pointer;
  color: #57B282;
  border-color: #57B282;
  background-color: #222;
  transition: color 0.15s ease, border-color 0.15s ease;

}

.removeShow{
  margin-left:10px;
  width:60px;
  text-align: center;
}
.removeShow:hover,
.removeShow:focus{
  cursor: pointer;
  color: black;
  border-color: black;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.removeShowCell{
  text-align: center;
  font-size: 10px;
  width:100px
}
.removeShowCell:hover,
.removeShowCell:focus,
.removeShowCell:active {
  cursor: pointer;
  color: black;
  border-color: black;
  background-color: #d02f2f;
  transition: color 0.15s ease, border-color 0.15s ease;
  transition: color 0.40s ease,  0.40s ease;
}
.userShowRows{
  height: 150px;
  width:100px;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  padding-top: 30px;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  height:200px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  max-width: 300px;
  cursor: pointer;
}

.card:hover,
.card:focus,
.card:active {
  
  transition: color 0.15s ease, border-color 0.15s ease;
  color: #57B282;
  border-color: #57B282;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
}
